/* Shared Font */

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-style: normal;
}

/* shared button */
.btn_primary{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
padding: 17px 34px;
background-color: rgb(0, 106, 80);
border-radius: 8px;
}

.btn_primary:hover{
    background-color:burlywood;
    color: chocolate;
}

main{
    margin: 0 160px;
}

/* Header Styles */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    width: 1280px;
    height: 560px;
    margin: 0 auto;
}

.hero_header{
    width: 620px;
    height: 325px;
}
.header_subtitle{
    color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.header_title{
    color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
margin-bottom: 24px;
}

/* vision section */

.vision_section_title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-top: 80px;
margin-bottom: 24px;
}

.vision_section_description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 30px;
}

/* Card Section */

.card_container{
    display: flex;
    gap: 24px;
}

.card{
    padding: 32px;
    border-radius: 16px;
}

.card h3{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
margin-bottom: 12px;

}

.card p{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.btn_1{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background: rgb(84, 144, 245);
border: none;
width: 120px;
height: 40px;
}

.btn_2{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background: rgb(9, 161, 92);
border: none;
width: 120px;
height: 40px;
}

.btn_3{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
border-radius: 8px;
background:rgb(255, 194, 57);
border: none;
width: 120px;
height: 40px;
}

.btn_1:hover{
    background-color: burlywood;
    color: chocolate;
}

.btn_2:hover{
    background-color: burlywood;
    color: chocolate;
}

.btn_3:hover{
    background-color: burlywood;
    color: chocolate;
}

/* Younuse Section */

.section_younuse{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
}

.younuse_description{
    padding-top: 38px;
    color: rgba(14, 14, 14, 0.8);
font-size: 16px;
font-weight: 400;
}

.younuse_title{
    color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 600;
}

.younuse_subtitle{
    margin-top: -20px;
    color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
margin-bottom: 100px;
}
/* Recent Section */

.recent_title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
}

.recent_description{
    margin-top: -10px;
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
}

/* Satellite Section */

.satellite_card_container{
    display: flex;
    gap: 32px;
    padding: 48px;
}

.satellite_img{
    border-radius: 24px;
}

.satellite_card_title{
    margin-top: -2px;
    color: rgba(14, 14, 14, 0.8);
font-size: 32px;
font-weight: 700;
}

.al_jazeera_img{
    margin-top: -20px;
}

.date_time{
    display: flex;
    gap: 12px;
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
}

.satellite_card_description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 32px;
}

/* Donation section */

.donation_container{
    text-align: center;
}

.donation_title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-bottom: 24px;
}

.donation_description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin-bottom: 30px;
}

.taka_card_container{
    display: flex;
    gap: 24px;
    justify-content:center;
    align-items: center;
    text-align: center;

}

.taka_card_container div{
    width: 240px;
    height: 80px;
    border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
padding: 40px;
color: rgba(14, 14, 14, 0.8);
font-size: 40px;
font-weight: 700;
margin-bottom: 32px;
}

.Taka_1:hover{
    background-color:lightgray;
}


.Taka_2{
    background-color: rgb(198, 228, 214);
}

.Taka_3:hover{
    background-color:lightsalmon;
}

.Taka_4:hover{
    background-color:lightpink;
}

.donation_container input{
    display: block;
    width: 1032px;
height: 64px;
text-align: center;
margin: 0 124px 32px 124px;
border: none;
color: rgba(14, 14, 14, 0.3);
font-size: 20px;
font-weight: 400;
}

/* Sucscribe Section */

.subscribe_container{
    border-radius: 24px;
background: rgb(198, 228, 214);
text-align: center;
margin-top: 80px;
}

.all{
    padding: 80px 100px;
}

.subscribe_title{
    color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
margin-bottom: 16px;
}

.subscribe_description{
    color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
margin:0 64px 24px 64px;
}

.input_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.subscribe_container input{
    width: 600px;
height: 30px;
padding: 18px 40px;
border-radius: 8px 0 0 8px;
border: none;
color: rgba(14, 14, 14, 0.3);
font-size: 16px;
font-weight: 400;
margin-right: 0px;
}

.subscribe_container button{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    background-color: rgb(0, 106, 80);
    border-radius: 0 8px 8px 0;
    margin-right: 0;
    border: none;
}

.subscribe_container button:hover{
    background-color:lightseagreen;
    color: darkolivegreen;
}

.last_desc{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
}